@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  /* colors */
  --colors-brand-beige-00: #fefefb;
  --colors-brand-beige-10: #f7f6e8; /* Background */
  --colors-brand-turquoise-00: #e6fafe;
  --colors-brand-turquoise-20: #b4f1fd;
  --colors-brand-turquoise-50: #69e3fc; /* Brand */
  --colors-brand-yellow-40: #ffea80; /* Brand */
  --colors-brand-yellow-100: #e5c000;
  --colors-brand-orange-70: #ff7733; /* Brand */
  --colors-grey-00: #ffffff;
  --colors-grey-20: #cccccc;
  --colors-grey-40: #999999;
  --colors-grey-60: #666666;
  --colors-grey-80: #333333;
  --colors-grey-100: #000000;
}

body {
  background-color: var(--colors-grey-20);
  line-height: 30px;
}

.grid_2_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gradeCounterWrap {
  width: 102px;
  background-color: var(--colors-grey-20);
  margin: auto;
  margin-top: 20px;
  border: 1px solid var(--colors-grey-40);
  border-radius: 5px;
}

.gradeCounter {
  /* Using gradient generator :) */
  background: rgb(44,116,9);
  background: linear-gradient(0deg, rgba(44,116,9,1) 0%, rgba(87,232,16,1) 5%, rgba(255,255,255,1) 100%);
  border-radius: 5px;
}

.gradeCounter > p {
  padding: 10px;
}

.grade {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: green;
  text-align: center;
  padding-top: 30px;
  margin: auto;
  margin-top: 100px;
}

.grade > p {
  font-size: 50px;
  color: white;
}

.searchWrap {
  margin-top: 30vh;
}

.rulesetCheckWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* looks ugly
.screenshotWrap {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--colors-grey-40);
}
*/

.screenshotWrap > img {
  border-radius: 20px;
}

.footerWrap {
  margin-top: 10vh;
  border-top: 1px solid var(--colors-grey-40);
}

/* Skeleton */
.screenshotWrapSkeleton {
  min-height: 30vh;
}